.places h1 {
    margin:  20px;
    font-size: 30px;
    width: 100%;
}
.places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F ;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: ;
}
.places h2 {
    font-size: 30px;
}